/mapreduce-java/.idea
/mapreduce-java/.settings
/mapreduce-java/target
/mapreduce-java/.project
/mapreduce-java/mapreduce.iml
/mapreduce-java/.classpath
/mapreduce-scala/project
/mapreduce-scala/.idea
/mapreduce-scala/target


